body{
    background-color:wheat;
}
.h101{
    color:blue;
}
.ta1{
    text-align: left;
    color:red;
}
.ta2{
    text-align: right;
    color:red;
}
.ta3{
    text-align: center;
    color:red;
}
.h102 p{
    text-align: justify;
    color:darkblue; 
}
.ta01{
    text-align-last: left;
}
.ta02{
    text-align-last: right;
}
.h103 p{
    text-align-last: justify;
}
.h104 {
    direction: rtl;
    unicode-bidi: bidi-override;
}
/* .va01{
    vertical-align: baseline;
}
.va02{
    vertical-align: text-bottom;
} */
.td01{
    text-decoration-line: overline;
    text-decoration-color: blue;
    text-decoration-style:dashed ;
    text-decoration-thickness: 5px;
}
.td02{
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}
.td03{
    text-decoration-line: line-through;
    text-decoration-color: green;
    text-decoration-style: dotted;
    text-decoration-thickness: 4px;
}
.td04{
    text-decoration-line: underline overline;
    text-decoration-color: brown;
    text-decoration-style: dotted;
    text-decoration-thickness: 6px;
}
.td00 a{
    text-decoration: none;
}
.tt01{
    text-transform: lowercase;
}
.tt02{
    text-transform: uppercase;
}
.tt03{
    text-transform: capitalize;
}
.ts01 {
    text-indent: 50px;
}
.ts02 {
    letter-spacing: 50px;
}
.ts03 {
    word-spacing: 50px;
}
.ts04 {
    line-height: 0.5px;
}
.ts05 {
    white-space: no wrap;
}
.tshadow01 {
    color: white;
    text-shadow: 2px 1px 5px blue, 0px 5px 15px red, 0px 5px 25px green; 
}