body{
    background-color: beige;
    background-size: cover;
}
.page{
    background-color: lightgreen;
}
h1{
    color: whitesmoke;
    background-color: tomato;
}
.Hello1{
    border: 5px solid black;
    color:  white;
    background-color: brown;
}
.Hello2{
    border: 5px solid red;
    color: yellow;
    background-color: green;
}
.Hello3{
    border: 5px solid blue;
    color: darkred;
    background: lightgoldenrodyellow;
}
p{
    color: darkblue;
}
