body{
    background-color: #347433;
}
.mar img{
    border: #FCEF91;
    border-style: groove;
    border-width: medium;
    margin-top: 150px;
    margin-right: 100px;
    margin-left: 500px;
    margin-bottom: 150px;
}
.para{
    border-style: solid;
    border-color: 5px #FCEF91;
    background-color: darkred;
    color: aliceblue;
    margin: 50px 200px 0px 200px;
    padding: 50px 50px 50px 100px;
}