body{
    background-color: rgb(185, 237, 255);
    }
.h2 {
    color: yellow;
    background-color: blue;
    }
#h2{
    color: rgb(8, 0, 255);
    }
#p {
    color: aliceblue;
    background-color: black;
    }
.h3 {
    color: antiquewhite;
    background-color: brown;
    }
h4 {
    color: blue;
    }
#ul {
    color: rgb(255, 0, 0);
    }
/*h1,h2,h3,h4{
    color: tomato;
    background-color: beige;
}*/
