body{
    font-family: 'Times New Roman', Times, serif;
}
table{
    width: 100%;
}
table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th, td { 
    padding: 15px 45px;
}
tr{
    text-align: center;
}
.row1:hover{
    background-color: lightpink;
}
.row2:hover,
.row3:hover{
    background-color: lightblue;
}