body{
    background-color: white;
}
.logo{
    width: 50px;
    height: 50px;
    padding-top: 10px;
    padding: 0 0 0 20px;
    background-attachment: scroll;
}
.logo2{
    width: 7.5em;
    padding: 15px 0 30px 0;
    background-attachment: scroll;
}
.logo3{
    width: 7.5em;
    padding: 15px 600px 5px 0;
    margin-left: -120px;
    background-attachment: scroll;
}
.searchbar{
    width: 400px;
    margin: 0 0 75px -500px;
    padding: 7px;
}
.searchbar2{
    margin: 0 0 75px 0;
    padding: 7px;
}
.sidebar01{
    margin: -100px  0 0 80%;
}
.sidebar01 ul li{
    display: inline;
}
.sidebar02 ul li{
    display: inline;
}
.sd{
    display: flex;
}
/* .sidebars{
    width: 300px;
    padding: 0 0 0 0;
    margin: 0 0 0 80%;
    background-attachment: scroll;
} */
/* .hrline{
    width: 75%;
    margin: 0 50px 0 0;
} */
.mainheading{
    background-color: rgb(237, 237, 237);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-right: 0px;
    margin-left: 20px;
    padding: 0px 400px 0px 400px;
}
.h2mh{
    color: black;
    padding: 0 0px 0 50px;
}
.pmh{
    color: black;
    padding: 0 0px 0 30px;
}
.pmh2{
    color: black;
    padding: 0 0px 0 0px;
}
.sideheadbox{
    display: flex;
}
.sidehead{
    background-color: rgb(194, 251, 232);
    margin: 5px 0px 5px 0;
    margin-left: 20px;
    padding: 5px;
}
.h3sh{
    background-color: aquamarine;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 5px 5px 5px 5px;
    margin-left: 5px;
    padding: 7px;
}
.sidep{
    margin-left: 32%;
}
.sideh ul li{
    display: inline;    
}
.sideh{
    margin-left: 40%;

}
.sidep a{
    text-decoration: none;
}
.sideh a{
    text-decoration: none;
}
.sidep02{
    margin-left: 75%;
}
.sidep02 a{
    text-decoration: none;
}

.img{
    width: 150px;
    height: 150px;
    padding: 0 0 0 5px;
}
.img02{
    width: 150px;
    height: 150px;
    margin: 0 5px 0 0;
    padding-left: 490px;
}
.psh02{
    padding-left: 490px;
}
.sidehead02{
    background-color: rgb(255, 171, 216);
    margin: 5px 0px 5px 0;
    margin-left: 5px;
    padding: 5px;
}
.h3sh02{
    background-color:deeppink;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 5px 5px 5px 5px;
    margin-left: 5px;
    padding: 7px;
}
.sidehead03 {
    background-color: rgb(255, 255, 102);
    margin: 5px 0px 5px 0;
    margin-left: 20px;
    padding: 5px;
}
.h3sh03{
    background-color: yellow;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 5px 5px 5px 5px;
    margin-left: 5px;
    padding: 7px;
}
.img03{
    width: 500px;
    height: 600px;
    padding: 0 0 0 5px;
}
.sidepara03{
    text-align: justify
}
.sidepara03 a{
    text-decoration: none;
}
.hrr{
    display: flex;
}
.sidehead04{
    background-color: rgb(237, 237, 237);
    margin-right: 0px;
    margin-left: 20px;
    padding: 0px 400px 0px 400px;
    padding: 5px;
}
.h3sh04{
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 5px 5px 5px 5px;
    margin-left: 5px;
    padding: 7px;
}
.sidepara04 ul li{
    padding: 0 0 0 0px;
}
.sidepara04 a{
    text-decoration: none;

}
.sidehead05{
    background-color: rgb(237, 237, 237);
    margin-right: 0px;
    margin-left: 20px;
    padding: 0px 400px 0px 400px;
    padding: 5px;
}
.h3sh05{
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 5px 5px 5px 5px;
    margin-left: 5px;
    padding: 7px;
}
.sidepara05{
    padding: 0 0 0 15px;
}
.sideh05{
    display: flex;
}
.sdh01 ul li{
    list-style: none;
}
.sdh01 a{
    text-decoration: none;
}
.sdh02{
    margin: 0 0 0 150px;
}
.sdh02 ul li{
    list-style: none;
    
}
.sdh02 a{
    text-decoration: none;
}
.sdh03{
    margin: 0 0 0 150px;
}
.sdh03 ul li{
    list-style: none;
}
.sdh03 a{
    text-decoration: none;
}
.sidehead06{
    background-color: rgb(237, 237, 237);
    margin-right: 0px;
    margin-left: 20px;
    padding: 0px 400px 0px 400px;
    padding: 5px;
}
.h3sh06{
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 5px 5px 5px 5px;
    margin-left: 5px;
    padding: 7px;
}
.sidepara06{
    padding: 0 0 0 15px;
}
.sideh06{
    display: inline;
    text-align: center;
}
.sdh06 {
    text-align: center;
    text-align-last: center;
}
.sdh06 a{
    text-decoration: none;
}
.sdh06 ul li {
    display: inline;
}
.langlist{
    margin-left: 85%;
    /* padding: 0 0 0 25px; */
}
.foot{
    /* margin: 0 5px 0 15px;
    padding: 7px; */
    text-align: center;
}
.foot2{
    /* margin-right: 15px;
    margin: 0 0 0 0;
    padding: 0 15px 0 0; */
    text-align: left;
}
.foot2 ul li {
    display: inline;
    list-style: none;
}
.foot2 a{
    text-decoration: none;
}
