body{
    background-color: #ffe79f;
}
.h201{
    border-style: dotted;
    border-radius: 3px;
}
.h202{
    border-style: dashed;
    border-radius: 3px;

}
.h203{
    border-style: solid;
    border-radius: 3px;
}
.h204{
    border-style: double;
    border-radius: 3px;

}
.h205{
    border-style: groove;
    border-radius: 3px;

}
.h206{
    border-style: ridge;
}
.h207{
    border-style: inset;
}
.h208{
    border-style: outset;
}
.h209{
    border-style: none;
}
.h210{
    border-style: hidden;
}
.h2mixed{
    border-style: dashed dotted solid inset;
}
.im img{
    border-style: outset;
}

